<div class="back">
    <div class="div-center">
        <div class="content">
            <h3>FORGOT PASSWORD</h3>
            <hr />
            <form (ngSubmit)="forgotPassword()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email*</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="email" id="exampleInputEmail1" placeholder="Username" required>
                </div>
                <button type="submit" class="btn btn-primary">Send Code</button>
                <hr />
                <!-- <button type="button" class="btn btn-link">Signup</button> -->
                <button type="button" class="btn btn-link">Back To Login</button>

            </form>

        </div>
    </div>
</div>